#logo{
	background-color: blue;
}
#banner{
	background-color: skyblue;
}
#social{
	background-color: magenta;
}
#brand{
	background-color: red;
}
#navigation{
	background-color: cyan;
}
#searchbox{
	background-color: green;
}
#slider{
	padding: 0px;
	height: 300px;
}
#col1{
	background-color: grey;
}
#col2{
	background-color: tan;
}
#col3{
	background-color: red;
}
#footer{
	background-color: green;
}